*.csv linguist-language=Csv linguist-vendored=false
*.gitignore linguist-language=Git linguist-vendored=false
*.sh linguist-language=Bash linguist-vendored=false
*.txt linguist-language=Text File linguist-vendored=false
*.xlsx linguist-language=Xlsx linguist-vendored=false
